

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}



/*    -----------------------------   */

/* Estilos base */

*
{
	margin:0;
}

body{
	background: #e5e5e5; /* Old browsers */
    background: -moz-linear-gradient(top,  #e5e5e5 0%, #fcfcfc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e5e5e5 0%,#fcfcfc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e5e5e5 0%,#fcfcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
	color: black;
	font-size: 16px;
    font-family: 'AdihausDIN Cn';
	height:100%;
}

img { width:100%; height:100%;}

p { font-size:16px; font-family: "AdihausDIN Cn"}

h1, h2, h3, h4, h5, h6 { font-family: 'AdihausDIN Cn'; color:#363636;}

/*   layout   */
#wrapper {
	max-width:1366px;
	margin: 0 auto;
}

a {   
 text-decoration:none;   
}  

button { text-decoration:none;}


header {
	width:100%;
	margin: 0 auto;
	height: auto;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	background: #e5e5e5; /* Old browsers */
    background: -moz-linear-gradient(top,  #e5e5e5 0%, #fcfcfc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e5e5e5 0%,#fcfcfc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e5e5e5 0%,#fcfcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
    color:white;
	display:flex;

}
.header-marti{
	background-color:#222222;
	height:auto;
	width:100%;
	display:flex;
	padding:1% 0%;
	text-align:center;
	}

.logoM {
	height:auto;
	width:auto;
	margin:0 auto;
	}
.mercury { width:500px; margin:0 auto; padding:5px 5px;}
.container {
	width:100%;
	height:auto;
	display:flex;
	overflow:hidden;
	position:relative;
	clear:both;
	}
    .full { width:100%; }
	.background {
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-position:50% 50%\9 !important;}
    .not-fullscreen { height:50%; }
	.texto { width:100px; height:100px; position:absolute; top:0px; left:0px; background-color:rgba(255,255,255,1.00);}
	.cincuenta { width:50%; position:relative;}
	.cincuenta.contenedorfotos { display:flex;}
	.filafotos { width:100%;}
    .treinta { width:33.333333%; }
	.beneficios {
		background-color:#0066ff;
		width:100%;
		height:auto;
		display:flex; 
		justify-content:center;
		align-items:flex-start;
		}
	.beneficios-column{
		padding:3% 0px;
		width:273.2px;	
	}
	.hzoom {
	  max-width: 100%;
	  -moz-transition: all 0.3s;
	  -webkit-transition: all 0.3s;
	  transition: all 0.3s;
    }
	.hzoom:hover{
	  -moz-transform: scale(1.1);
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
    }
	
	.beneficios-texto {
		color:rgba(255,255,255,1.00);
		text-align:center;
		text-transform:uppercase;
		font-size:18px;
		letter-spacing:1px;
		}
	.beneficios-icon{
		text-align:center;
		color:rgba(255,255,255,1.00);
		padding:10px 0px;
		font-size:22px;
		}
	footer {
	margin: 0 auto;
	padding-top: 4%;
	padding-bottom: 4%;
	text-align: center;
	background-color:none;
	color:white;
	clear:both;

	}
	.social-media {
	display:flex;
	justify-content:center;
	align-items:center;
	}
	.titulo-redes {}
	.redes {
	font-family: 'AdihausDIN Cn';
	font-size:22px;
	text-align:center;
	color:#2B2B2B;
	text-transform:uppercase;
	letter-spacing:2px;
	margin:20px 0 20px 0;
	}
	.iconos {
		display:flex;
		justify-content:center;
		}
	.icon {
	width:40px;
	height:40px;
	cursor:pointer;
	margin:10px 10px;
	border:solid 1px #2B2B2B;
    -webkit-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-ot-transition-duration: 0.3s;
    transition-duration: 0.3s;
    }
	.icon:hover {
	  -webkit-transform: scale(.9);
	  -ms-transform: scale(.9);
	  -o-transform: scale(.9);
	  transform: scale(.9);
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transition-duration: 0.5s;
	  -ms-transition-duration: 0.5s;
	  -o-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	  -webkit-transition-timing-function: ease-out;
	  -ms-transition-timing-function: ease-out;
	  -o-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;

	}
	.icon:hover, .icon:focus, .icon:active {
  		color: white;
    }
   .icon:hover:before, .icon:focus:before, .icon:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
    }

	.mini-hero, .datos-producto { width:100%; height:50%; }
	.mini-hero { display:flex; justify-content:center; align-items:center;}
	@media only screen and (max-width : 480px) {
	  .mini-hero {
		  padding:30px 0px;
		  }
		  }
	.foto-producto {
	  width:100%;
	  background-color:#EDEDED;
	  cursor:pointer;
	  position:relative;
	  }
	.foto-producto img {
     max-width: 100%;
     -moz-transition: all 0.3s;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
     }

	/* .foto-producto:hover img {
     -moz-transform: scale(1.1);
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
     -webkit-box-shadow: -1px 0px 61px 1px rgba(189,189,189,1);
     -moz-box-shadow: -1px 0px 61px 1px rgba(189,189,189,1);
     box-shadow: -1px 0px 61px 1px rgba(189,189,189,1);
     }*/

/* Media Query */
@media screen and (max-width: 960px){
#wrapper { width: 95%; margin: 0 auto; }

}
@media screen and (max-width: 640px){
#wrapper { width: 100%; margin: 0 auto; }
.beneficios {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
	}
.beneficios-column{
	width:50%;
	padding:4% 0px;
	}
	
	
}
@media screen and (max-width: 480px){
#wrapper { width: 95%; margin: 0 auto; }
.container { flex-direction: column;}
.cincuenta, .treinta, .full { width:100%; }
.beneficios {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
	}
.beneficios-column{
	width:50%;
	}
.beneficios-texto {
		font-size:18px;
		}
.beneficios-icon{
		font-size:20px;
		}
}

/* Helper classes */

.img-responsive {
  max-width: 100%;
  display:block;
  height: auto;
  }

  .reversa {
	  flex-direction:row-reverse;

	  }
  @media only screen and (max-width : 480px) {
	  .reversa {
		  flex-direction:column;}
		  }

/* Elementos */

.btn {
	padding:10px 70px;
	border:2px solid rgba(0,0,0,10);
	background:none;
	color:rgba(0,0,0,1);
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:1em;
	cursor:pointer;
    text-decoration: none;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  z-index: 1;
  overflow:hidden;
  position: relative;
  margin:10px 0px;
}

.btn:hover {
  background: #000;
  border-color: #363636;
  color: #fff;
}

.btn:before {
  content: "";
  position: absolute;
  background: #000;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.btn:hover:before {
  top: 0;
}

/* MODULOS */

/* Navegacion productos */

.main-container-producto, .main-container-promo {
  margin: 0% 0;
}
.contenedor-promo {
	width:auto;
	height:auto;
	
	}

.contenedor-producto, .contenedor-promo {
  position: relative;
  margin: 0 0;
}
.contenedor-boton {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 40px;
}


/* Mini Hero*/

.mini-hero.ace-hero {
	background: url('../images/bg-ace.jpg') no-repeat center center;
	}
.mini-hero.messi-hero {
	background: url('../images/bg-messi.jpg') no-repeat center center;
	}
.mini-hero.x-hero {
	background: url('../images/bg-a.jpg') repeat center center;
	}
.hero-contenedor {
	text-align:center;

	}
.hero-titulo {
	text-align:center;
	margin:0 0 30px 0;
	font-size:2.81em;
	letter-spacing:2px;
	color:rgba(255,255,255,1.00);
}
.hero-separador {
	width:20%;
	border:solid 1px rgba(255,255,255,1);
	margin:0 auto 30px;
	 }
.hero-button {
  border:2px solid rgba(255,255,255,10);
  color:rgba(255,255,255,1.00);
}

.hero-button:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.btn.hero-button:before {
  background: #fff;
}

/* Infor Producto */

.datos-personalizado {
	display:flex; justify-content:center; background-image:url(../images/grabado_back.jpg); min-height:423px; }
.datos-contenedor-personalizado {
	width:80%;
}
.flecha {
	text-align:center;
	height:77px;
	width:66px;
	top:0px;
	margin:0 auto;
	}
.titulo-personalizado {
	text-align:center;
	text-transform:uppercase;;
	letter-spacing:10px;
	font-size:23px;
	font-family: 'adineue PRO light';
	margin-top:4%;
}
.sub-personalizado {
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	letter-spacing:15px;
	font-family: 'adineue PRO';
	margin:10px 0px;
}
.puntos {
	text-align:center;
	text-transform:uppercase;
	line-height:25px;
	letter-spacing:1px;
}
.bold-puntos {
	font-family: 'adineue PRO';
	font-size:14px;
	letter-spacing:2px;
	}
.bases {
		bottom:10px;
		left:10px;
		position:absolute;
		z-index:2;
		font-size:14px;
		}

.datos-producto {
	display:flex; justify-content:center; align-items:center; background:#EDEDED;}
.datos-contenedor {
	width:80%;
}
@media only screen and (max-width : 480px) {
	  .datos-contenedor {
		  padding:30px 0px;
		  }
		  }

.dato-texto {
	text-align:center;
	font-size:1.25em;
	color:rgba(26,26,26,1.00);
	font-style:italic;

	}
.dato-titulo {
	text-align:center;
	font-size:2.5em;
	color:rgba(26,26,26,1.00);
	letter-spacing:4px;
	margin:0 0 30px 0;
	}



/* Slider */

.slider-container {
  position: relative;
}

.prev-slide, .next-slide {
  position: absolute;
  z-index: 10;
  width: 60px;
  height: 180px;
}

.prev-slide {
  top: 35%;
  left: 3%;
  background: url('../images/left-arrow.png') no-repeat center center;
  background-size: contain;
}

.next-slide {
  top: 35%;
  right: 3%;
  background: url('../images/right-arrow.png') no-repeat center center;
  background-size: contain;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.slick-dots li {
  margin-left: 15px;
  display: inline-block;
}

.slick-dots li:first-child {
  margin-left: 0;
}

.slick-dot {
  background: rgba(255,255,255,0.6);
  display: block;
  width: 50px;
  height: 5px;
  outline: 0;
  cursor: pointer;
}

.slick-dot:hover, .slick-active {
  /* Firefox */
  -moz-transition: background-color 100ms ease-in 100ms;
  /* WebKit */
  -webkit-transition: background-color 100ms ease-in 100ms;
  /* Opera */
  -o-transition: background-color 100ms ease-in 100ms;
  /* Standard */
  transition: background-color 100ms ease-in 100ms;
  background-color: rgba(255,255,255,1);
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .prev-slide, .next-slide {
    width: 30px;
    height: 90px;
  }

  .prev-slide {
    top: 35%;
    left: 3%;
  }

  .next-slide {
    top: 35%;
    right: 3%;
  }

  .slick-dots {
    bottom: 5px;
  }

  .slick-dots li {
    margin-left: 5px;
  }

  .slick-dot {
    width: 35px;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .prev-slide, .next-slide {
    width: 30px;
    height: 90px;
  }

  .prev-slide {
    top: 20%;
    left: 3%;
  }

  .next-slide {
    top: 20%;
    right: 3%;
  }

  .slick-dots {
    bottom: 5px;
  }

  .slick-dots li {
    margin-left: 5px;
  }

  .slick-dot {
    width: 35px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .prev-slide, .next-slide {
    width: 30px;
    height: 90px;
  }

  .prev-slide {
    top: 20%;
    left: 3%;
  }

  .next-slide {
    top: 20%;
    right: 3%;
  }

  .slick-dots {
    bottom: 5px;
  }

  .slick-dots li {
    margin-left: 5px;
  }

  .slick-dot {
    width: 35px;
  }
}

.a-btn-symbol{
	 width:25px; height:25px;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
	position:absolute;
	right:10px;
	top:10px;
	z-index:1;
}
.a-btn-symbol:hover{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}

.div-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.div-img.hidden {
  overflow: hidden;
}
.div-img .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
 /* transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);*/
  -webkit-transition: all 1000ms ease-in-out;
  -moz-transition: all 1000ms ease-in-out;
  -ms-transition: all 1000ms ease-in-out;
  -o-transition: all 1000ms ease-in-out;
}
.div-img:hover .img {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}

/* media queries */

/* iphone 5 horizontal */

@media (max-width: 568px) {
  /*elementos*/

  .btn {
    padding: 3% 20%;
  }
 

  /*layout*/

  .cincuenta {
    width: 100%;
  }

  .sm-column {
    flex-direction: column;
  }

  /* modulos */

  .mini-hero, .datos-producto {
    padding: 5% 0;
  }

  #ace, #messi, #x {
    flex-direction: column;
  }
}

/* iphone 6 horizontal */

@media (max-width: 667px) {
  /*elementos*/

  .btn {
    padding: 3% 20%;
  }

  /*layout*/

  .cincuenta {
    width: 100%;
  }

  .sm-column {
    flex-direction: column;
  }

  /* modulos */

  .mini-hero, .datos-producto {
    padding: 5% 0;
  }

  #ace, #messi, #x {
    flex-direction: column;
  }
}

/* iphone 6 plus horizontal */

@media (max-width: 736px) {
  /*elementos*/

  .btn {
    padding: 3% 20%;
  }

  /*layout*/

  .mini-hero, .datos-producto {
      height: auto;
  }

  .cincuenta {
    width: 100%;
  }

  .sm-column {
    flex-direction: column;
  }

  /* modulos */

  .mini-hero, .datos-producto {
    padding: 5% 0;
  }

  #ace, #messi, #x {
    flex-direction: column;
  }
}


/* ipad vertical */

@media (max-width: 768px) {


  /*modules */

  .hero-titulo {
    font-size: 2em;
  }

  .dato-texto {
    font-size: 1em;
  }

  .dato-titulo {
    font-size: 1.5em;
    margin: 0 0 15px 0;
  }

}

.grabado { bottom:30px;}
